# Node
frontend/node_modules/
frontend/build/
frontend/.env
/frontend/.env.docker

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.docker

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
mood-tracker-key.pem